body{
    background-color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
}
#nav1{
    background-color: #00086c;
    width: 100%;
}
.par{
    color: aliceblue;
    width: 70%;
    padding-top: 10%;
}
.paralogo{
    color: #fff;
    font-size: 33px;
    padding-top: 16%;
    font-family: 'Luckiest Guy', cursive;
    text-align: left;
        
}
.button{
    background-color: #00086c;
    height: 180%;
    display: inline-flex;
    margin-top: 19%;
    
    
}
.navbutton{
/*    background-color: #00086c; */
    color: white;
}

.searched{
    padding: 10%;
}
.paradetails{
    color: #fff;
    padding-top: 08%;
    font-size: 13px;
    
}
.dropdown {
  position: relative;
  display: inline-flex;
  text-align: left;
  width: 132px;
  padding-bottom: 0%;    
}

.dropdown-text {
  cursor: pointer;
  position: absolute;
  text-indent: 10px;
  line-height: 22px;
  background-color: #00086c;
/*  border: 1px solid #ccc;*/
  box-shadow: 0 0px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);
  width: 50%;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  
  border-width: 5px 4px 0 4px;
  border-color: #555 transparent transparent transparent;
  z-index: 1;    
}

.dropdown-text,
.dropdown-content a {
  color: #00086c;
  text-shadow: 0
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  border-radius: 3px;
  text-indent: 10px;
  line-height: 32px;
  background-color: #00086c;
  
  width: 1;
  z-index: 1;    
}
.menubutton{
    width: 90%;
    height: 90%;
}
.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: #3889f7;
}


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #0000ff;
}

.dropdown-toggle:focus ~ .dropdown-text {
  box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 32px;
}
.navflag{
    width: 70%;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: #3889f7;
}


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #5d2dff;
}

.dropdown-toggle:focus ~ .dropdown-text {
  box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
  z-index: 1;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 42px;
}
#menu-button {
  border: 2px solid rgba(41, 37, 47, .3);
  background: #00086c;
  padding: 14px;
    margin-top: 17px;
  top: 20%;
  transition: background 750ms ease-in-out;
  user-select: none;
}

.menu-open #menu-button {
  background: rgba(41, 37, 47, 0);
}

.hamburger {
  position: relative;
  width: 25px;
  height: 20px;
  transition: transform 750ms ease-in-out;
}

#menu-button:active .hamburger {
  transition: transform 50ms;
  transform: scale(.95);
}

#menu-button:hover {
  background: #3889f7;
}

.hamburger::before, .hamburger::after, .hamburger .inner {
  content: '';
  position: absolute;
  width: 25px;
  height: 4px;
  color: white;       
  background: #ccc;
  transform-origin: 100% 50%;
  transition: all 750ms ease-in-out;
}
.hamburger::before {
  top: -1px;
}
.hamburger .inner {
  top: 9px;
  transform-origin: 50% 50%;
}
.hamburger::after {
  top: 19px;
  
}

.menu-open .hamburger {
  transform: rotateY(-180deg);
}
.menu-open #menu-button:active .hamburger {
  transform: scale(.95) rotateY(-180deg);
}

.menu-open .hamburger::before,
.menu-open .hamburger::after,
.menu-open .hamburger .inner {
  background: rgba(41, 37, 47, 1);
}

.menu-open .hamburger::before {
  transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);  
}
.menu-open .hamburger .inner {
  transform: rotateY(-90deg); 
  transition: transform 375ms, background-color 750ms ease-in-out;    
}
.menu-open .hamburger::after {
  transform: translate3d(-4px, -1px, 0) rotateZ(45deg);    
}




#navmenu{
    width: 100%;
    background-color: white;
}
nav {
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-right: none;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    float: left;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #ccc;
    width: 12.5%;
    width: calc(100% / 8);
/*    box-sizing: border-box;*/
    color: black; 
}

nav ul li:first-child {
    border-left: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #616161;
    padding: 10px;
}
li a:hover {
    background-color: #3889f7;
    color: white;
}
.headimage{
    height: inherit;
    position: relative;
}
.mainimg{

    width: 100%;
    height: 100%;
    
}
.row width{
     width: 100%;
    
}
div.overlay_text {
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 220%;
    padding-left: 10%;
    left: 0;
    text-align: left;
    top: 20%;
    width: 100%;
}

#button2{
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 30%;
    background-color: #ffeb00;
    width: 20%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;   
}
div.overlaytext2{
    position: absolute;
    color: #fff;
    font-weight: bold;
    top: 25%;
    text-align: center;
    left: 23%;
}
.workimg{
    position: relative;
}
.workplaces{
    height: inherit;
    padding-bottom: 5%;    
    

}  
.parawork{
    text-align: center;
}
.buttonlink1{
    
}
#reasons{
    
}
#reasons li{
    float: left;
    text-align: justify;
    list-style-type: none;
    justify-content: center;
}

.reasonpar{
    text-align: center;   
}
img.reward{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
    height: 30%;
    width: 30%;
}
#rewardcenter{
    height: 50%;
    width: 50%;
}
.container1 {
    position: relative;
}

.centerd {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 23px;
    color: white;
}
#button3{
    
   -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #aaaaaa;
    background: rgba(0, 0, 0, );
    color: rgba(0, 0, 0, 1);
    color: #003bff;
    font-size: 70%;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    
}
#buttonmore{
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    
}
#overlaytxt3{
    position: absolute;
    color: #000000;
    font-weight: bold;
    text-align: center;
    
    
}
.clientsimg{
    position: relative;
}
.clienth3{
    text-align: center;
    padding-top: 3%
}
#fullclients{
   
}
#carousel {
position: relative;
width:60%;
margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 100%;
height: 250px;
padding-bottom: 5%;    
}

#slides ul {
list-style: none;
width:100%;
height:250px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
width:60%;
margin:0 auto;
display:block;
position:relative;
top:40px;
}

 #buttons {
padding:0 0 5px 0;
float:right;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
margin:0 60px;
color:#b14943;
text-decoration:none;
display:block;
padding:9px;
width:35px;
}

a#prev:hover, a#next:hover {
color:#FFF;
text-shadow:.5px 0px #b14943;  
}

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/ Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
}
.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 200px;
font-size:24px;
color:#404040;
font-style:italic;
text-shadow:.5px 0px #b14943;  
}

.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:20px;
color:#404040;
font-weight:400;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
.logosinline{
    float: left;
    background-color: #fff;
    margin-top: 5%;
    
}
.logosize{
    width: 08.8%;
    margin-left: 4.8%;
}
.blogh3{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#bloggy{
    background-color: beige;
}
#readposts{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contentimage{
    background-color: white;
    border-style: outset
    
}
.blogh5{
    text-align: center;
    font-size: 23px;
}
.blogp{
    text-align: center;
    font-size: 18px:
}
.contentimage:hover {
-webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}
.contentimage {
-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
box-shadow: 0px 0px 15px 5px rgba(232, 232, 232, 0.75);
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

.footer{
    background-color: blue;
    color: #fff;
}

.footer_column{
    list-style-type: none;
   float: left;
   width: 150px;
   margin:20px 3.667%;
   text-decoration: none;

}

.footer_menu{
   margin:0 auto;
   width: 75.00%;
   clear:both;
   font-family:Oswald;
   font-size:14px;
   line-height:28px;
    display: block; 
    background-color: blue;
}

.footer_menu h3{
  margin:0 auto;
  width:150px;
  display:block;
  font-size: 16px;
  padding-bottom: 10px; 
    
    
}
hr{
    min-width:  solid 2px black
}
li{
   list-style-type: none;
}
.contacticons{
    width: 8%;
    height: 8%;
    align-items: flex-end;
    margin-left: 5%;
    
}
.footer_menu1{
    background-color: blue;
}
.clientrow{
    width: 70%;
}
.imagemenu{
    margin:0 auto;
   width: 65.00%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #fff;
}
.logo1{
    background-color: #fff;
    width: 100%
}

.logosize1{
    width: 10.8%;
    margin-left: 7.8%;
}
#worksec{
    background-color: #fff;
    width: 85%;
}